.container {
    display: flex;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    margin: 10px;
    transition: all 0.5s;
  }
  
  .box:hover {
    width: 200px;
    height: 200px;
    z-index: 1;
  }
  