.form {
  height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0 20px 20px 0;
  }
  
  .form-input {
    width: 70%;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .form-select {
    width: 73%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .form-button {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    background-color: rgb(35, 88, 145);
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .form-message {
    margin: 10px 0;
    font-size: 18px;
    color: green;
  }
  
  @media (max-width: 500px) {
    .form-input,
    .form-select,
    .form-button {
      width: 90%;
    }

    .form {
        height: 75vh;
        padding-top: 150px;
        justify-content: flex-start;
      }
  }
  