.formulario {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 10px;
    
  }
  
  .formulario-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .formulario-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    resize: none;
    height: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .formulario-select {
    width: 105%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .formulario-submit {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  