body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: ArialRounded;
  src: url(./fonts/arial-rounded-mt-bold.ttf);
}
@font-face{
  font-family: helveticas;
  src: url(./fonts/HelveticaNowDisplay-ExtLt.ttf);
}
body::-webkit-scrollbar {
  width: 0.5em;
  background-color:none;
  border-radius: 10px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #174A6F;
  border-radius: 10px;
  
}
 
body::-webkit-scrollbar-thumb:hover {
  background-color: #1679D8;
  
}
